main {
    text-align: center;
    padding-top: 115px;
}

body {
    margin: 0;
    font-family: Arial;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 12px;
}

nav {
    padding: 20px;
}

nav a {
    font-size: 13px;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

#search {
    border: solid #D3D3D3 1px;
    border-radius: 50px;
    width: 470px;
    height: 25px;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px;
}

.button {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    color: #505050;
}

footer {
    background-color: #F0F0F0;
    padding: 15px 20px;
    margin-top: 295px;
    height: 20px;
    border-top: solid #BEBEBE 1px;
}

.left-footer {
    float: left;
}

.right-footer {
    float: right;
}

footer a {
    font-size: 15px;
    color: #505050;
}